@import url('https://fonts.google.com/specimen/Outfit');

html {
    height:100%;
    display: flex;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
    color: hsl(218, 44%, 22%);
    width: 80%;
    margin: auto;
    padding: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.qr-box { 
    padding: 15px;
    max-width: 250px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        transform: translate3d(0,20px,0);
        opacity: 0%;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 100%;
    }
}

.qr-box h1 { 
    font-size: 20px;
}

.qr-box p { 
    font-size: 14px; 
}

.img-holder {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: contain;
    overflow: hidden;
}

.img-holder img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.9s ease;
}

.img-holder:hover img{
    transform: scale(1.4);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 1%;
}

.attribution { 
    font-size: 11px; 
}

.attribution a { 
    max-width: 250px;
    color: hsl(228, 45%, 44%); 
}