@import url('https://fonts.google.com/specimen/Outfit');

html {
    height: 100%;
    display: flex;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    width: 80%;
    margin: auto;
    padding: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.qr-box { 
    padding: 15px;
    max-width: 250px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        transform: translate3d(0,-20px,0);
        opacity: 0%;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 100%;
    }
}

.img-holder {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: contain;
    overflow: hidden;
}

.img-holder img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.9s ease;
}

.img-holder:hover img{
    transform: scale(1.4);
}

.text-holder {
    padding: 5px;
}
.text-holder h1 { 
    font-size: 1.2rem;
}

.text-holder p { 
    font-size: 0.9rem; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 1%;
}

.attribution { 
    font-size: 0.7rem; 
}

.attribution a { 
    max-width: 250px;
    color: hsl(228, 45%, 44%); 
}